################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Factory.API/obj
/.vs
/Factory.Interface/bin
/Factory.Interface/obj
/Factory.Business/obj
/Factory.Business/bin
/Factory.API/bin
/UserManager/bin
/UserManager/obj
