################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Factory.API/obj
/.vs
/Factory.Interface/bin
/Factory.Interface/obj
/Factory.Business/obj
/Factory.Business/bin
/Factory.API/bin
/UserManager/bin
/UserManager/obj
/Admin/bin
/Admin/obj
/Dashboard/bin
/Dashboard/obj
/Omi.Application/bin/Debug/netcoreapp3.1
/Factory.OMB/obj/Debug
/Factory.Domain/bin/Debug/netcoreapp3.1
/Factory.DataAccessLayer/bin/Debug/netcoreapp3.1
/UDMSAPI/bin
/UDMSAPI/obj
/OMB.App/OMB.App/bin
/OMB.App/OMB.App/obj
/OMB.App/OMB.App.Android/bin/Debug
/OMB.App/OMB.App.Android/obj
/OMB.App/OMB.App.iOS/bin/iPhoneSimulator/Debug
/OMB.App/OMB.App.iOS/obj
